---
- name: Set certbot executable - docker
  set_fact:
    letsencrypt_executable: "{{ letsencrypt_docker_compose }} -f {{ letsencrypt_docker_compose_yml }} run --rm certbot certbot"
  when: "letsencrypt_install_method == 'docker'"

- name: Set certbot executable - Arch native
  set_fact:
    letsencrypt_executable: "/usr/bin/certbot"
  when:
    - "letsencrypt_install_method == 'native'"
    - ansible_facts["os_family"] == "Archlinux"
    - ansible_facts["architecture"] == "x86_64"

- name: Set certbot executable - Ubuntu snap
  set_fact:
    letsencrypt_executable: "/snap/bin/certbot"
  when:
    - "letsencrypt_install_method == 'native'"
    - ansible_facts["os_family"] == "Debian"
    - ansible_facts["architecture"] == "x86_64"

- name: Set certbot executable - Ubuntu riscv
  set_fact:
    letsencrypt_executable: "/usr/bin/certbot"
  when:
    - "letsencrypt_install_method == 'native'"
    - ansible_facts["os_family"] == "Debian"
    - ansible_facts["architecture"] == "riscv64"

- name: Set certbot executable - RedHat snap
  set_fact:
    letsencrypt_executable: "/snap/bin/certbot"
  when:
    - "letsencrypt_install_method == 'native'"
    - ansible_facts["os_family"] == "RedHat"

- ansible.builtin.include_tasks: base_layout.yml

- ansible.builtin.include_tasks: install_centos.yml
  when:
    - "letsencrypt_install_method == 'native'"
    - "ansible_facts['os_family'] == 'RedHat'"

- ansible.builtin.include_tasks: install_archlinux.yml
  when:
    - "letsencrypt_install_method == 'native'"
    - "ansible_facts['os_family'] == 'Archlinux'"

- ansible.builtin.include_tasks: install_ubuntu.yml
  when:
    - "letsencrypt_install_method == 'native'"
    - "ansible_facts['os_family'] == 'Debian'"
    - ansible_facts["architecture"] == "x86_64"

- ansible.builtin.include_tasks: install_ubuntu-riscv.yml
  when:
    - "letsencrypt_install_method == 'native'"
    - "ansible_facts['os_family'] == 'Debian'"
    - ansible_facts["architecture"] == "riscv64"

- ansible.builtin.include_tasks: install_docker.yml
  when:
    - "letsencrypt_install_method == 'docker'"

- ansible.builtin.include_tasks: get_certificates.yml
